# Archivos del sistema
.DS_Store
Thumbs.db
*.log

# Archivos temporales
*.tmp
*.temp

# Entornos virtuales
venv/
env/
node_modules/

# Configuraciones del editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de desarrollo
*.psd
*.ai
*.sketch